html,
body {
    background-color: #dadada;
    color: #000000;
    margin-top: 10px;
    font-family: 'Trebuchet MS', Arial, sans-serif;
}

div#strona {
    width: 800px;
    margin: 0 auto;
    padding: 10px;
    background-color: #ffd2ff;
}

div#naglowek {
    height: 100px;
    padding: 10px;
    background-color: #7b327b;
    color: #ffffff;
}

div#menu {
    width: 150px;
    float: left;
    overflow: hidden;
    padding: 10px;
    background-color: #cb78cb;
}

div#menu ul {
    list-style-type: none;
}

div#zawartosc {
    overflow: hidden;
    padding: 20px;
    background-color: #ffbeff;
}

div#stopka {
    clear: both;
    padding: 10px;
    background-color: #8f468f;
    color: #ffffff;
}

a:active {
    color: #FFFFFF;
}

li a:hover {
    color: #FFAA00;
}